---
export interface Props {
  months: string;
  season: string;
}

const { months, season } = Astro.props;
---
<div class="month-badge">
  <span class="month-badge__months">{months}</span>
  <span class="month-badge__season">{season}</span>
</div>
