---
import '../styles/shinrai-car.css';

const { direction = 'left-right' }: { direction?: string } = Astro.props;
const imgFolder = direction === 'left-right' ? 'shinrai-car' : 'shinrai-car-2';
---

<div class="shinrai-car-wrapper">
  <div class={`shinrai-car ${direction}`}>
    <img src={`/img/${imgFolder}/car.png`} class="car" alt="シンライカー" />
    <img
      src={`/img/${imgFolder}/tier-front.png`}
      class="tier front"
      alt="シンライカー"
    />
    <img
      src={`/img/${imgFolder}/tier-back.png`}
      class="tier back"
      alt="シンライカー"
    />
  </div>
</div>
