---
import '../styles/shinrai-car.css';
---

<div class="shinrai-car-wrapper">
  <div class="shinrai-car">
    <img src="/img/shinrai-car/car.png" class="car" alt="シンライカー" />
    <img
      src="/img/shinrai-car/tier-front.png"
      class="tier front"
      alt="シンライカー"
    />
    <img
      src="/img/shinrai-car/tier-back.png"
      class="tier back"
      alt="シンライカー"
    />
  </div>
</div>
